@import "./reset.css";

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #d9d9d9;
    padding: 20px;
    height: 100vh;
}

main {
    padding: 73px 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

header {
    text-align: center;
}

header > h1 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #f9f4da;
    margin: 0px;
}

header > p {
    color: #8e8e8e;
    font-size: 0.875rem;
    max-inline-size: 350px;
    margin-block-start: 0px;
}

.game-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9f4da;
    border-radius: 4px;
    min-block-size: 60px;
    max-inline-size: 352px;
    inline-size: 100%;
}

.game-status.won {
    background-color: #10a95b;
}

.game-status.lost {
    background-color: #ba2a2a;
}

.game-status.farewell {
    background-color: #7a5ea7;
    border: 1px dashed #323232;
}

.game-status > p {
    margin: 0px;
}

.game-status > p.farewell-message {
    font-style: italic;
    font-weight: 400;
}

.game-status h2 {
    margin: 0px;
    font-size: 1.25rem;
}

.language-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-inline-size: 350px;
    gap: 1.5px;
}

.chip {
    border-radius: 3px;
    padding: 4.5px;
    position: relative;
}

.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.word > span {
    block-size: 40px;
    inline-size: 40px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #f9f4da;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-inline-size: 480px;
    justify-content: center;
}

.keyboard button {
    block-size: 40px;
    inline-size: 40px;
    padding: 6px;
    background-color: #fcba29;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.keyboard button.correct {
    background-color: #10a95b;
}

.keyboard button.wrong {
    background-color: #ec5d49;
}

button.new-game {
    background-color: #11b5e5;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    cursor: pointer;
}
